<form action="/cart" class="form-control shop-form" method="POST">
  <button class="btn">Add to Cart</button>
  <input id="<%=product?.id%>" class="hidden card__actions" name="product" value="<%= JSON.stringify(product) %>" />
</form>