<%- include("./includes/head") %>

</head>

<body>
  <main>
    <section>
      <form action="/login" method="post">
        <div>
          <label for="name">Username</label>
          <input type="text" name="username" id="name" placeholder="Enter username" />
        </div>
        <button class="button" type="submit">Login</button>
      </form>
    </section>

  </main>
  <%- include("./includes/end") %>