<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/add-product">Add product</a>
        <a href="/contact-us">Contact Us</a>
      </nav>
    </header>
    <main>
      <h2>Add your favourite product</h2>
      <form action="/add-product" method="POST">
        <input id="product" name="product" type="text" />
        <input id="id" name="id" type="number" />
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
